/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/.env
/.env.*
!.env.example
!.env.production.example
/.phpunit.result.cache
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.idea
.vscode

# Laravel extras
*.log
.phpactor.json
/.fleet
/.nova
/.phpunit.cache
/.zed
/auth.json
/storage/pail
/database/backups
Homestead.json
Homestead.yaml
